<mat-nav-list class="w-60 h-full bg-purple-300 text-white">
  <a mat-list-item routerLink="/home" routerLinkActive="active" class="hover:bg-red-200">
    Home
  </a>
  <a mat-list-item routerLink="/dashboard" routerLinkActive="active" class="hover:bg-red-200">
    Dashboard
  </a>
  <a mat-list-item routerLink="/settings" routerLinkActive="active" class="hover:bg-red-200">
    Settings
  </a>
  <a mat-list-item routerLink="/profile" routerLinkActive="active" class="hover:bg-red-200">
    Profile
  </a>
</mat-nav-list>
